* {
  box-sizing: border-box;
}

body {
  color: #5a5c5e;
  font-family: 'Open Sans', sans-serif;
}

header {
  align-items: center;
  background: #011f4b;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

label {
  display: none;
}

h1 {
  color: #6497b1;
  font-family: 'Roboto Slab', serif;
  font-size: 50px;
}

h2 {
  color: #6d6e71;
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
  padding-bottom: 15px;
  width: 90%;
}

.header {
  color: #989898;
}

.top-container {
  align-items: center;
  background: #011f4b;
  display: flex;
  flex-direction: column;
  height: 25vh;
  justify-content: space-between;
  padding-bottom: 30px;
}

.save-button {
  border: none;
  border: 1px ridge white;
  color: #fff;
}

.save-button:disabled {
  background: #989898;
}

.save-button:hover {
  background: #005b96;
}

input,
textarea,
.save-button {
  font-size: 24px;
  height: 35px;
  max-width: 750px;
  padding-left: 5px;
  width: 60%;
}

input,
textarea {
  border: 1px solid #A9A9A9;
}

textarea {
  resize: none;
}

.card-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filter-container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.idea-card {
  border-bottom: 1px solid #d1d3d4;
  max-width: 750px;
  padding-bottom: 10px;
  padding-top: 30px;
  overflow-wrap: break-word;
  width: 60%;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}

.delete,
.up-vote,
.down-vote {
  border: none;
  height: 25px;
  width: 25px;
}

.delete {
  background: url("assets/delete.svg") no-repeat;
  background-size: cover;
  float: right;
  vertical-align: top;
}

.delete:hover {
  background: url("assets/delete-hover.svg") no-repeat;
  background-size: cover;
}

p {
  padding-bottom: 20px;
}

.up-vote {
  background: url("assets/upvote.svg") no-repeat;
  background-size: cover;
  margin-right: 10px;
}

.up-vote:hover {
  background: url("assets/upvote-hover.svg") no-repeat;
  background-size: cover;
}

.down-vote {
  background: url("assets/downvote.svg") no-repeat;
  background-size: cover;
  margin-right: 10px;
}

.down-vote:hover {
  background: url("assets/downvote-hover.svg") no-repeat;
  background-size: cover;
}

.quality-container {
  width: 240px;
}

.idea-quality {
  display: inline;
  padding-top: 2px;
}

.quality-font {
  color: #6d6e71;
  font-family: 'Roboto Slab', serif;
}

/*=======================================
>>>>>>>>  MEDIA QUERIES  <<<<<<<<
========================================*/
@media (max-width: 700px) {
 input,
 textarea,
 .save-button,
 .idea-card {
   width: 85%;
 }
}

@media (max-width: 400px) {
.top-container {
  height: 40vh;
}

.header {
  padding: 30px 0;
}

#task {
   height: 120px;
 }
}
