* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #939598;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  background: #e5f3f2;
}

h1 {
font-family: 'Roboto Slab', serif;
font-size: 40px;
color: #00a79d;
}

h2 {
  font-family: 'Roboto Slab', serif;
  color: #6d6e71;
  display: inline-block;
  font-size: 22px;
  padding-bottom: 15px;
  width: 90%;
}

.header {
  color: #6d6e71;
}

.top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e5f3f2;
  padding-bottom: 30px;
  height: 25vh;
  justify-content: space-between;
}

.save-button {
  background: #00a79d;
  color: #fff;
  border: none;
}

.save-button:disabled {
  background:#989898;
}

.save-button:hover {
  background: #045e55;
}

input,
textarea,
.save-button {
  width: 60%;
  height: 35px;
  font-size: 24px;
  padding-left: 5px;
  max-width: 750px;
}

input,
textarea {
  border: 1px solid #A9A9A9;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.idea-card {
  padding-bottom: 10px;
  width: 60%;
  max-width: 750px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  border-bottom: 1px solid #d1d3d4;
  padding-top: 30px;
}

.delete,
.up-vote,
.down-vote {
  width: 25px;
  height: 25px;
  border: none;
}

.delete {
  background: url("assets/delete.svg") no-repeat;
  background-size: cover;
  float: right;
  vertical-align: top;
}

.delete:hover {
  background: url("assets/delete-hover.svg") no-repeat;
  background-size: cover;
}

p {
  padding-bottom: 20px;
}

.up-vote {
  background: url("assets/upvote.svg") no-repeat;
  background-size: cover;
}

.up-vote:hover {
  background: url("assets/upvote-hover.svg") no-repeat;
  background-size: cover;
}

.down-vote {
  background: url("assets/downvote.svg") no-repeat;
  background-size: cover;
}

.down-vote:hover {
  background: url("assets/downvote-hover.svg") no-repeat;
  background-size: cover;
}

.quality-container {
  display: flex;
  width: 175px;
  justify-content: space-between;
}

.idea-quality {
  padding-top: 2px;
}

.quality-font {
  font-family: 'Roboto Slab', serif;
  color: #6d6e71;
}

/*media queries*/

@media (max-width: 700px) {
 input,
 textarea,
 .save-button,
 .idea-card {
   width: 85%;
 }
}

@media (max-width: 400px) {
.top-container {
  height: 40vh;
}

.header {
  padding: 30px 0;
}

#body {
   height: 120px;
 }
}
